:root {
	--petrol: #005a63;
	--orangey-red: #ff5533;
	--duck-egg-blue: #b2ebf1;
	--pale-grey: #e7eced;
	--dark: #29363b;
	--charcoal-grey: #3a4c53;
	--white: #d8d8d8;
	--black: #000000;
	--white-two: #ffffff;
}