article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
}

.navbar-fixed-top {
  top: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.navbar-default {
  background-color: #005a63;
  border-top-color: #005a63;
  border-right-color: #005a63;
  border-bottom-color: #005a63;
  border-left-color: #005a63;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

button,
input,
optgroup,
select,
textarea {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: Helvetica;
  color: inherit;
}

button {
  overflow-x: visible;
  overflow-y: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: Helvetica;
  font-size: inherit;
  line-height: inherit;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-toggle:focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

.navbar-default .navbar-toggle {
  border-top-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color: rgb(221, 221, 221);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
  clip: rect(0px 0px 0px 0px);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #005a63;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

a {
  background-color: transparent;
  color: rgb(51, 122, 183);
  text-decoration: none;
}

a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-brand {
  	font-family: Helvetica;
  	font-weight: inherit;
  	font-style: inherit;
  	font-stretch: inherit;
  	text-align: center;
  	color: #e7eced;
}

.collapse {
  display: none;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top-color: rgb(231, 231, 231);
  border-right-color: rgb(231, 231, 231);
  border-bottom-color: rgb(231, 231, 231);
  border-left-color: rgb(231, 231, 231);
}

ol,
ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

.nav {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
}

.navbar-nav {
  margin-top: 7.5px;
  margin-right: -15px;
  margin-bottom: 7.5px;
  margin-left: -15px;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(119, 119, 119);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: rgb(85, 85, 85);
  background-color: rgb(231, 231, 231);
}

/*.dropdown,
.dropup {
  position: relative;
}

[role="button"] {
  cursor: pointer;
}

.dropdown-toggle:focus {
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

.caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-top-width: 4px;
  border-top-style: dashed;
  border-top-color: initial;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: transparent;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: transparent;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 14px;
  text-align: left;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  background-color: rgb(255, 255, 255);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.14902);
  border-right-color: rgba(0, 0, 0, 0.14902);
  border-bottom-color: rgba(0, 0, 0, 0.14902);
  border-left-color: rgba(0, 0, 0, 0.14902);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dropdown-menu > li > a {
  display: block;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

.dropdown-menu .divider {
  height: 1px;
  margin-top: 9px;
  margin-right: 0px;
  margin-bottom: 9px;
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(229, 229, 229);
}

.dropdown-header {
  display: block;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: rgb(119, 119, 119);
  white-space: nowrap;
}*/

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: rgb(238, 238, 238);
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

h1 {
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.67em;
  margin-left: 0px;
  font-size: 2em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1,
h1 {
  font-size: 36px;
}

.jumbotron .h1,
.jumbotron h1 {
  color: inherit;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.btn {
  display: inline-block;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 5px inset;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 122, 183);
  border-top-color: rgb(46, 109, 164);
  border-right-color: rgb(46, 109, 164);
  border-bottom-color: rgb(46, 109, 164);
  border-left-color: rgb(46, 109, 164);
}

.btn-primary.focus,
.btn-primary:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 96, 144);
  border-top-color: rgb(18, 43, 64);
  border-right-color: rgb(18, 43, 64);
  border-bottom-color: rgb(18, 43, 64);
  border-left-color: rgb(18, 43, 64);
}

.btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 96, 144);
  border-top-color: rgb(32, 77, 116);
  border-right-color: rgb(32, 77, 116);
  border-bottom-color: rgb(32, 77, 116);
  border-left-color: rgb(32, 77, 116);
}

.btn-group-lg > .btn,
.btn-lg {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
